node_modules/
dist/
data_local/
docker/data/
docker/dbdata/
application/logs/*.php
!application/logs/index.html
.env.local
.DS_Store
Thumbs.db
updates/hot-updates/*.zip
!updates/hot-updates/latest-hot-update.zip

